body, html{
    height: 100% !important;
    width: 100%;
    font-family: "Poppins",sans-serif !important ;
    /* overflow: hidden; */
}

#home{
    background-color: rgba(0, 0, 0, .6) !important;
}

#loader{
    height: 100%;
    width: 100%;
    background-color: #111111;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease-out;
    top: 0%;
}

.loader--hidden{
    top: -100% !important;
}


#loader::after{
    content:"";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #ff4a4a;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}

.name{
    font-size: clamp(75px, 10vw, 150px);

}

.slogan{
    font-size: clamp(20px, 3vw, 50px);
}

.insvisible-btn{
    background: none;
    border: none;
}

.tag{
    background: black;
    top: 0;
    z-index: -2;
    /* z-index: 1030 !important; */

}

.rotate{
    transform: rotate(90deg);
    padding-top: 70px;
    padding-bottom: 70px;
}

.marquee-title div,.marquee-title-reverse div{
    font-size: clamp(12px,5vw,30px);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transform: rotate(90deg); */
}

.marquee-title{
    transform: rotateX(180deg) scaleX(-1);
}

.marquee-title div{
    writing-mode: vertical-lr;
    text-orientation: sideways;
    animation: marquee 6s linear infinite;
}

@keyframes marquee {
    from {transform: translateY(0%);}
    to {transform: translateY(100%);}
}

.marquee-title-reverse{
    bottom: 0px;
    right: 0px;
}

.marquee-title-reverse div{
    writing-mode: vertical-lr;
    animation: marquee 6s linear infinite;
}

@keyframes marquee-reverse {
    from {transform: translateY(0%);}
    to {transform: translateY(-100%);}
}

.title, .mail{
    color: #ff4a4a;
}

.show{
    z-index: 1029 !important;
}

#bg-video{
    z-index: -1 !important;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.download-cv{
    border: none;
    background-color: #ff4a4a;
}

.content-inside{
    border-color: #ff4a4a !important;
}

.pointer{
    top: 30px;
}

.pointer::before{
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ff4a4a;
}

.pointer::after{
    display: block;
    content: "";
    border: solid 10px;
    border-color: transparent transparent transparent #ff4a4a;
}

.content{
    background-color: #111111;
    /* height: 55%; */
}

.content::-webkit-scrollbar {
    display: none;
}

.link{
    text-decoration: none;
    color: #ff4a4a;
}

.width-auto{
    width: clamp(50px, 10vw, 60px);
}

ul{
    list-style: none !important;
}

.name{
    color: #999999;
}

.navbar{
    height: 0px;
    overflow: hidden;
}

.expand{
    height: 50px;
}

.rotate-180{
    transform: rotateX(180deg);
}

