body, html{
    height: 100% !important;
    width: 100%;
    font-family: "Poppins",sans-serif !important ;
}

#home{
    background-color: rgba(0, 0, 0, .6) !important;
}

#loader{
    height: 100%;
    width: 100%;
    background-color: #111111;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease-out;
    top: 0%;
}

.loader--hidden{
    top: -100% !important;
}


#loader::after{
    content:"";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #ff4a4a;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}

.name{
    font-size: clamp(75px, 10vw, 150px);

}

.slogan{
    font-size: clamp(20px, 3vw, 50px);
}

.insvisible-btn{
    background: none;
    border: none;
}

.tag{
    background: black;
    top: 0;
    z-index: -2;
    /* z-index: 1030 !important; */

}

.rotate{
    transform: rotate(90deg);
    padding-top: 70px;
    padding-bottom: 70px;
}

.marquee-title div,.marquee-title-reverse div{
    font-size: clamp(12px,5vw,50px);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    display: table;
    table-layout: fixed;
    padding-left: 10px;
    padding-right: 10px;
    /* transform: rotate(90deg); */
}

.marquee-title div{
    animation: marquee 6s linear infinite;
}

@keyframes marquee {
    from {transform: translateX(0%);}
    to {transform: translateX(100%);}
}

.marquee-title-reverse div{
    animation: marquee-reverse 6s linear infinite;
}

@keyframes marquee-reverse {
    from {transform: translateX(0%);}
    to {transform: translateX(-100%);}
}

.title, .mail{
    color: #ff4a4a;
}

.show{
    z-index: 1030 !important;
}

#bg-video{
    z-index: -1 !important;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.download-cv{
    border: none;
    background-color: #ff4a4a;
}

.content-inside{
    border-color: #ff4a4a !important;
}

.pointer{
    top: 30px;
}

.pointer::before{
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ff4a4a;
}

.pointer::after{
    display: block;
    content: "";
    border: solid 10px;
    border-color: transparent transparent transparent #ff4a4a;
}

.content{
    background-color: #111111;
    overflow: scroll; 
    /* height: 55%; */
}

.content::-webkit-scrollbar {
    display: none;
}

.btn{
    right: 0px;
}

.link{
    text-decoration: none;
    color: #ff4a4a;
}